http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species?offset=0&limit=99999&datasetKey=98940a79-2bf1-46e6-afd6-ba2e85a26f9f
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1000,"endOfRecords":true,"results":[{"key":141117231,"nubKey":5202793,"nameKey":2560428,"taxonID":"alien-fishes-checklist:taxon:f6dfb7309bb723fe8e7f34d32dcd2b35","kingdom":"Animalia","phylum":"Chordata","order":"Siluriformes","family":"Clariidae","genus":"Clarias","species":"Clarias
        gariepinus","kingdomKey":315799810,"phylumKey":315799811,"orderKey":315799815,"familyKey":315799816,"genusKey":315799817,"speciesKey":141117231,"datasetKey":"98940a79-2bf1-46e6-afd6-ba2e85a26f9f","parentKey":315799817,"parent":"Clarias","scientificName":"Clarias
        gariepinus (Burchell, 1822)","canonicalName":"Clarias gariepinus","vernacularName":"African
        catfish","authorship":"(Burchell, 1822) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-04T06:53:49.899+00:00","lastInterpreted":"2026-03-04T07:01:48.893+00:00","issues":[]},{"key":141117232,"nubKey":4286975,"nameKey":3229853,"taxonID":"alien-fishes-checklist:taxon:ed016d9744c4b866c67ab3bb3bf7a185","kingdom":"Animalia","phylum":"Chordata","order":"Cypriniformes","family":"Cyprinidae","genus":"Cyprinus","species":"Cyprinus
        carpio","kingdomKey":315799810,"phylumKey":315799811,"orderKey":315799844,"familyKey":315799849,"genusKey":315799852,"speciesKey":141117232,"datasetKey":"98940a79-2bf1-46e6-afd6-ba2e85a26f9f","parentKey":315799852,"parent":"Cyprinus","s[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/5202793?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":5202793,"nubKey":5202793,"nameKey":2560428,"taxonID":"gbif:5202793","sourceTaxonKey":172850616,"kingdom":"Animalia","phylum":"Chordata","order":"Siluriformes","family":"Clariidae","genus":"Clarias","species":"Clarias
        gariepinus","kingdomKey":1,"phylumKey":44,"orderKey":708,"familyKey":8978,"genusKey":5202658,"speciesKey":5202793,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":5202658,"parent":"Clarias","basionymKey":2342366,"basionym":"Silurus
        gariepinus Burchell, 1822","scientificName":"Clarias gariepinus (Burchell,
        1822)","canonicalName":"Clarias gariepinus","vernacularName":"African catfish","authorship":"(Burchell,
        1822) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:20:46.329+00:00","issues":["ORIGINAL_NAME_DERIVED"]}'
  recorded_at: 2026-05-06 09:34:20
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/4286975?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":4286975,"nubKey":4286975,"nameKey":3229853,"taxonID":"gbif:4286975","sourceTaxonKey":172898366,"kingdom":"Animalia","phylum":"Chordata","order":"Cypriniformes","family":"Cyprinidae","genus":"Cyprinus","species":"Cyprinus
        carpio","kingdomKey":1,"phylumKey":44,"orderKey":1153,"familyKey":7336,"genusKey":2347697,"speciesKey":4286975,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2347697,"parent":"Cyprinus","scientificName":"Cyprinus
        carpio Linnaeus, 1758","canonicalName":"Cyprinus carpio","vernacularName":"Common
        carp, European carp, King carp, Mirror carp","authorship":"Linnaeus, 1758","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Linnaeus,
        C. (1758). Systema Naturae per regna tria naturae, secundum classes, ordines,
        genera, species, cum characteribus, differentiis, synonymis, locis. <em>Editio
        decima, reformata [10th revised edition], vol. 1: 824 pp. Laurentius Salvius:
        Holmiae.</em>","numDescendants":14,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:20:54.154+00:00","issues":[]}'
  recorded_at: 2026-05-06 09:34:20
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2367913?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2367913,"nubKey":2367913,"nameKey":7095932,"taxonID":"gbif:2367913","sourceTaxonKey":172902401,"kingdom":"Animalia","phylum":"Chordata","order":"Cypriniformes","family":"Cobitidae","genus":"Misgurnus","species":"Misgurnus
        mohoity","kingdomKey":1,"phylumKey":44,"orderKey":1153,"familyKey":3385,"genusKey":2367906,"speciesKey":2367911,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2367906,"parent":"Misgurnus","acceptedKey":2367911,"accepted":"Misgurnus
        mohoity (Dybowski, 1869)","basionymKey":5207821,"basionym":"Nemacheilus bipartitus
        Sauvage & Dabry de Thiersant, 1874","scientificName":"Misgurnus bipartitus
        (Sauvage & Dabry de Thiersant, 1874)","canonicalName":"Misgurnus bipartitus","vernacularName":"Asian
        weatherloach","authorship":"(Sauvage & Dabry de Thiersant, 1874) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:21:07.143+00:00","issues":["ORIGINAL_NAME_DERIVED"]}'
  recorded_at: 2026-05-06 09:34:21
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/141117231/verbatim?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":141117231,"extensions":{"http://rs.gbif.org/terms/1.0/Distribution":[{"http://purl.org/dc/terms/source":"https://doi.org/10.1111/j.1095-8649.2007.01679.x","http://rs.tdwg.org/dwc/terms/locality":"Flemish
        Region","http://rs.tdwg.org/dwc/terms/eventDate":"1980/2008","http://rs.tdwg.org/dwc/terms/countryCode":"BE","http://rs.tdwg.org/dwc/terms/occurrenceStatus":"present","http://rs.tdwg.org/dwc/terms/degreeOfEstablishment":"cultivated","http://rs.tdwg.org/dwc/terms/establishmentMeans":"introduced","http://rs.tdwg[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/141117231/verbatim
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"key":141117231,"extensions":{"http://rs.gbif.org/terms/1.0/Distribution":[{"http://purl.org/dc/terms/source":"https://doi.org/10.1111/j.1095-8649.2007.01679.x","http://rs.tdwg.org/dwc/terms/locality":"Flemish
        Region","http://rs.tdwg.org/dwc/terms/eventDate":"1980/2008","http://rs.tdwg.org/dwc/terms/[...]
[...]
