http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species?offset=0&limit=99999&datasetKey=79d65658-526c-4c78-9d24-1870d67f8439
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1000,"endOfRecords":true,"results":[{"key":209460541,"nubKey":2480764,"nameKey":24682140,"taxonID":"union-list:taxon:e6f0112aec457de98b2848f2ad24c4ba","kingdom":"Animalia","species":"Threskiornis
        aethiopicus","kingdomKey":316030684,"speciesKey":209460541,"datasetKey":"79d65658-526c-4c78-9d24-1870d67f8439","parentKey":316030684,"parent":"Animalia","scientificName":"Threskiornis
        aethiopicus Latham, 1790","canonicalName":"Threskiornis aethiopicus","vernacularName":"Sacred
        ibis","authorship":"Latham, 1790","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-10T16:14:23.614+00:00","lastInterpreted":"2026-03-10T16:15:47.352+00:00","issues":[]},{"key":209460542,"nubKey":2394604,"nameKey":7182107,"taxonID":"union-list:taxon:00300bd4820a4cac429fcbc34c3b8177","kingdom":"Animalia","species":"Morone
        americana","kingdomKey":316030684,"speciesKey":209460542,"datasetKey":"79d65658-526c-4c78-9d24-1870d67f8439","parentKey":316030684,"parent":"Animalia","scientificName":"Morone
        americana (Gmelin, 1789)","canonicalName":"Morone americana","vernacularName":"white
        perch","authorship":"(Gmelin, 1789) ","nameType":"SCIENTIF[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2480764?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2480764,"nubKey":2480764,"nameKey":11221769,"taxonID":"gbif:2480764","sourceTaxonKey":172751953,"kingdom":"Animalia","phylum":"Chordata","order":"Pelecaniformes","family":"Threskiornithidae","genus":"Threskiornis","species":"Threskiornis
        aethiopicus","kingdomKey":1,"phylumKey":44,"classKey":212,"orderKey":7190953,"familyKey":5288,"genusKey":2480763,"speciesKey":2480764,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2480763,"parent":"Threskiornis","basionymKey":4408420,"basionym":"Tantalus
        aethiopicus Latham, 1790","scientificName":"Threskiornis aethiopicus (Latham,
        1790)","canonicalName":"Threskiornis aethiopicus","vernacularName":"Sacred
        Ibis","authorship":"(Latham, 1790) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":5,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:19:46.676+00:00","issues":[],"class":"Aves"}'
  recorded_at: 2026-05-06 08:53:30
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2437399?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2437399,"nubKey":2437399,"nameKey":1841251,"taxonID":"gbif:2437399","sourceTaxonKey":172730109,"kingdom":"Animalia","phylum":"Chordata","order":"Rodentia","family":"Sciuridae","genus":"Callosciurus","species":"Callosciurus
        finlaysonii","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":1459,"familyKey":9456,"genusKey":2437392,"speciesKey":2437399,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2437392,"parent":"Callosciurus","basionymKey":8877566,"basionym":"Sciurus
        finlaysonii Horsfield, 1824","scientificName":"Callosciurus finlaysonii (Horsfield,
        1823)","canonicalName":"Callosciurus finlaysonii","vernacularName":"Finlayson''s
        squirrel","authorship":"(Horsfield, 1823) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Zool.
        Res. Java vol.7 p.151","numDescendants":20,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:18:53.301+00:00","issues":[],"class":"Mammalia"}'
  recorded_at: 2026-05-06 08:53:30
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2394486?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2394486,"nubKey":2394486,"nameKey":6184107,"taxonID":"gbif:2394486","sourceTaxonKey":172862281,"kingdom":"Animalia","phylum":"Chordata","order":"Perciformes","family":"Centrarchidae","genus":"Lepomis","species":"Lepomis
        gibbosus","kingdomKey":1,"phylumKey":44,"orderKey":587,"familyKey":8513,"genusKey":2394482,"speciesKey":2394486,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2394482,"parent":"Lepomis","basionymKey":2394487,"basionym":"Perca
        gibbosa Linnaeus, 1758","scientificName":"Lepomis gibbosus (Linnaeus, 1758)","canonicalName":"Lepomis
        gibbosus","vernacularName":"Pumkinseed","authorship":"(Linnaeus, 1758) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Linnaeus,
        C. (1758). Systema Naturae per regna tria naturae, secundum classes, ordines,
        genera, species, cum characteribus, differentiis, synonymis, locis. <em>Editio
        decima, reformata [10th revised edition], vol. 1: 824 pp. Laurentius Salvius:
        Holmiae.</em>","numDescendants":1,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:21:09.781+00:00","issues":[]}'
  recorded_at: 2026-05-06 08:53:31
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2227064?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2227064,"nubKey":2227064,"nameKey":7878536,"taxonID":"gbif:2227064","kingdom":"Animalia","phylum":"Arthropoda","order":"Decapoda","family":"Cambaridae","genus":"Faxonius","species":"Faxonius
        virilis","kingdomKey":1,"phylumKey":54,"classKey":229,"orderKey":637,"familyKey":4479,"genusKey":4646327,"speciesKey":8971201,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4646327,"parent":"Faxonius","acceptedKey":8971201,"accepted":"Faxonius
        virilis (Hagen, 1870)","basionymKey":8982325,"basionym":"Cambarus virilis
        Hagen, 1870","scientificName":"Orconectes virilis (Hagen, 1870)","canonicalName":"Orconectes
        virilis","vernacularName":"Virile Crayfish","authorship":"(Hagen, 1870) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:51:14.952+00:00","issues":["ORIGINAL_NAME_DERIVED"],"class":"Malacostraca"}'
  recorded_at: 2026-05-06 08:53:31
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/3054399?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":3054399,"nubKey":3054399,"nameKey":11381265,"taxonID":"gbif:3054399","kingdom":"Plantae","phylum":"Tracheophyta","order":"Malpighiales","family":"Euphorbiaceae","genus":"Triadica","species":"Triadica
        sebifera","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1414,"familyKey":4691,"genusKey":3054384,"speciesKey":3054399,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3054384,"parent":"Triadica","basionymKey":3054409,"basionym":"Croton
        sebiferum L.","scientificName":"Triadica sebifera (L.) Small","canonicalName":"Triadica
        sebifera","vernacularName":"Chinese tallow","authorship":"(L.) Small","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Florida
        Trees: 59 (1913)","numDescendants":1,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:04:08.633+00:00","issues":[],"class":"Magnoliopsida"}'
  recorded_at: 2026-05-06 08:53:40
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/209460541/verbatim?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":209460541,"extensions":{"http://rs.gbif.org/terms/1.0/VernacularName":[{"http://purl.org/dc/terms/language":"de","http://rs.tdwg.org/dwc/terms/vernacularName":"Heiliger
        Ibis"},{"http://purl.org/dc/terms/language":"en","http://rs.tdwg.org/dwc/terms/vernacularName":"Sacred
        ibis"},{"http://purl.org/dc/terms/language":"nl","http://rs.tdwg.org/dwc/terms/vernacularName":"heilige
        ibis"},{"http://purl.org/dc/terms/language":"fr","http://rs.tdwg.org/dwc/terms/vernacularName":"ibis
        sacré"}],"http[...]
[...]
