http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species?offset=0&limit=99999&datasetKey=32afaa9d-a27f-4885-b30c-ce08c34e1efb
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1000,"endOfRecords":true,"results":[{"key":221054829,"nubKey":1316667,"nameKey":166483406,"taxonID":"belgian-formicidae-checklist:taxon:a20a129a6da1e15e4fe601c9a50dc928","kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Formicidae","genus":"Stenamma","species":"Stenamma
        westwoodii","kingdomKey":316000934,"phylumKey":316000935,"classKey":316000936,"orderKey":316000937,"familyKey":316000938,"genusKey":316000964,"speciesKey":221054829,"datasetKey":"32afaa9d-a27f-4885-b30c-ce08c34e1efb","parentKey":316000964,"parent":"Stenamma","scientificName":"Stenamma
        westwoodii (Westwood, 1839)","canonicalName":"Stenamma westwoodii","authorship":"(Westwood,
        1839) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-10T11:07:15.887+00:00","lastInterpreted":"2026-03-10T11:11:16.283+00:00","issues":[],"class":"Insecta"},{"key":221054831,"nubKey":1315215,"nameKey":24389534,"taxonID":"belgian-formicidae-checklist:taxon:d0eab93aa281c27f696762c1d4cf748e","kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Formicidae","genus":"Myrmecina","species":"Myrmecina
        graminicola","kingdomKey":316000934,"phylumKey":316000935,"classKey":316000936,"orderKey":316000937,"familyKey":316000938,"genusKey":316000956,"speciesKey":221054831,"datasetKey":"32afaa9d-a27f-4885-b30c-ce08c34e1efb","p[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/1316667?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":1316667,"nubKey":1316667,"nameKey":10694723,"taxonID":"gbif:1316667","sourceTaxonKey":173296793,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Formicidae","genus":"Stenamma","species":"Stenamma
        westwoodii","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4342,"genusKey":9138092,"speciesKey":1316667,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":9138092,"parent":"Stenamma","scientificName":"Stenamma
        westwoodii Westwood, 1839","canonicalName":"Stenamma westwoodii","vernacularName":"Westwood''s
        Ant","authorship":"Westwood, 1839","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":3,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:28:04.057+00:00","issues":[],"class":"Insecta"}'
  recorded_at: 2026-05-06 10:32:04
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/1315215?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":1315215,"nubKey":1315215,"nameKey":7296152,"taxonID":"gbif:1315215","sourceTaxonKey":175311943,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Formicidae","genus":"Myrmecina","species":"Myrmecina
        graminicola","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4342,"genusKey":1315201,"speciesKey":1315215,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":1315201,"parent":"Myrmecina","basionymKey":4504419,"basionym":"Formica
        graminicola Latreille, 1802","scientificName":"Myrmecina graminicola (Latreille,
        1802)","canonicalName":"Myrmecina graminicola","vernacularName":"Grass Ant","authorship":"(Latreille,
        1802) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":8,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:28:16.245+00:00","issues":[],"class":"Insecta"}'
  recorded_at: 2026-05-06 10:32:04
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/7795442?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":7795442,"nubKey":7795442,"nameKey":11070014,"taxonID":"gbif:7795442","sourceTaxonKey":130498692,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Formicidae","genus":"Leptothorax","species":"Leptothorax
        nylanderi","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4342,"genusKey":1323767,"speciesKey":1323853,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"0b366d90-bd5e-4e7a-ba06-295813334125","parentKey":1323767,"parent":"Leptothorax","acceptedKey":1323853,"accepted":"Leptothorax
        nylanderi (Foerster, 1850)","basionymKey":4504437,"basionym":"Myrmica nylanderi
        Förster, 1850","scientificName":"Temnothorax nylanderi (Förster, 1850)","canonicalName":"Temnothorax
        nylanderi","authorship":"(Förster, 1850) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"HOMOTYPIC_SYNONYM","nomenclaturalStatus":[],"remarks":"Originally
        found in sources as accepted taxon within Temnothorax Mayr, 1861","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:28:04.663+00:00","issues":["ORIGINAL_NAME_DERIVED","CONFLICTING_BASIONYM_COMBINATION"],"class":"Insecta"}'
  recorded_at: 2026-05-06 10:32:04
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/1315132?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":1315132,"nubKey":1315132,"nameKey":4497835,"taxonID":"gbif:1315132","sourceTaxonKey":175316355,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Formicidae","genus":"Formica","species":"Formica
        rufa","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4342,"genusKey":1314840,"speciesKey":1315132,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":1314840,"parent":"Formica","scientificName":"Formica
        rufa Linnaeus, 1761","canonicalName":"Formica rufa","vernacularName":"Wood
        Ant","authorship":"Linnaeus, 1761","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Linnæus,
        Carolus. 1758. Systema naturae per regna tria naturae, secundum classes, ordines,
        genera, species, cum characteribus, differentiis, synonymis, locis. Laurentii
        Salvii, Holmiae. Vol. Tomus I, Editio decima, reformata: i-ii, 1-824.","numDescendants":10,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:28:07.364+00:00","issues":[],"class":"Insecta"}'
  recorded_at: 2026-05-06 10:32:05
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/5035777?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":5035777,"nubKey":5035777,"nameKey":6027984,"taxonID":"gbif:5035777","sourceTaxonKey":173316890,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Formicidae","genus":"Lasius","species":"Lasius
        alienus","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4342,"genusKey":1325751,"speciesKey":5035777,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":1325751,"parent":"Lasius","basionymKey":7917871,"basionym":"Formica
        aliena Förster, 1850","scientificName":"Lasius alienus (Foerster, 1850)","canonicalName":"Lasius
        alienus","vernacularName":"Cornfield Ant","authorship":"(Foerster, 1850) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Seifert,
        Bernhard, Galkowski, Christophe (2016): The Westpalaearctic Lasius paralienus
        complex (Hymenoptera: Formicidae) contains three species. Zootaxa 4132 (1),
        DOI: http://doi.org/10.11646/zootaxa.4132.1.4","numDescendants":7,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:28:07.174+00:00","issues":[],"class":"Insecta"}'
  recorded_at: 2026-05-06 10:32:07
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/221054829/verbatim?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":221054829,"extensions":{"http://rs.gbif.org/terms/1.0/Distribution":[{"http://purl.org/dc/terms/source":"FORMIDABEL
        Databank","http://rs.tdwg.org/dwc/terms/locality":"Flemish Region","http://rs.tdwg.org/dwc/terms/eventDate":"1938/2020","http://rs.tdwg.org/dwc/terms/countryCode":"BE","http://rs.tdwg.org/dwc/terms/occurrenceStatus":"present","http://rs.tdwg.org/dwc/terms/degreeOfEstablishment":"native","http://rs.tdwg.org/dwc/terms/establishmentMeans":"native","http://rs.tdwg.org/dwc/terms/locationID":"ISO_3166-[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/221054894/verbatim?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":221054894,"extensions":{"http://rs.gbif.org/terms/1.0/Distribution":[{"http://purl.org/dc/terms/source":"Vankerkhoven
        F & Dekoninck W, 2022. The socially parasitic ants of the Tetramorium caespitum/impurum
        complex: an overview of the observations in Belgium (Hymenoptera: Formicidae).
        Bulletin SRBE/KBVE, 158: 68-78.","http://rs.tdwg.org/dwc/terms/locality":"Flemish
        Region","http://rs.tdwg.org/dwc/terms/eventDate":"1958/2022","http://rs.tdwg.org/dwc/terms/countryCode":"BE","http://rs.tdwg.org/dwc/terms/occurrenceStatus":"present","http://rs.tdwg.org/dwc/terms/degreeOfEstablishment":"native","http://rs.tdwg.org/dwc/terms/establishmentMeans":"native","http://rs.tdwg.org/dwc/terms/locationID":"[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/221054829/verbatim
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"key":221054829,"extensions":{"http://rs.gbif.org/terms/1.0/Distribution":[{"http://purl.org/dc/terms/source":"FORMIDABEL
        Databank","http://rs.tdwg.org/dwc/terms/locality":"Flemish Region","http://rs.tdwg.org/dwc/terms/eventDate":"1938/2020","http://rs.tdwg.org/dwc/terms/countryCode":"BE","http://rs.[...]
[...]
