http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species?offset=0&limit=99999&datasetKey=b79c5ba3-d447-4a73-bcbf-557f3241eeb2
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1000,"endOfRecords":true,"results":[{"key":160926690,"nubKey":8918476,"nameKey":4752548,"taxonID":"105053","kingdom":"Animalia","phylum":"Arthropoda","order":"Amphipoda","family":"Micruropodidae","species":"Gmelinoides
        fasciatus","kingdomKey":315729806,"phylumKey":315729875,"classKey":315729896,"orderKey":315729897,"familyKey":315729903,"speciesKey":160926690,"datasetKey":"b79c5ba3-d447-4a73-bcbf-557f3241eeb2","parentKey":315729903,"parent":"Micruropodidae","scientificName":"Gmelinoides
        fasciatus Stebbing, 1899","canonicalName":"Gmelinoides fasciatus","authorship":"Stebbing,
        1899","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"DOUBTFUL","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-04T05:09:24.259+00:00","lastInterpreted":"2026-03-04T05:12:50.364+00:00","issues":[],"class":"Malacostraca"},{"key":160926695,"nubKey":3034825,"nameKey":5142245,"taxonID":"105055","kingdom":"Plantae","phylum":"Tracheophyta","order":"Apiales","family":"Apiaceae","species":"Heracleum
        mantegazzianum","kingdomKey":315729832,"phylumKey":315729833,"classKey":315729834,"orderKey":315729931,"familyKey":315729933,"speciesKey":160926695,"datasetKey":"b79c5ba3-d447-4a73-bcbf-557f3241eeb2","parentKey":315729933,"parent":"Apiaceae","scientificName":"Heracleum
        mantegazzianum Sommier &[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/8918476?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":8918476,"nubKey":8918476,"nameKey":4752542,"taxonID":"gbif:8918476","sourceTaxonKey":172948927,"kingdom":"Animalia","phylum":"Arthropoda","order":"Amphipoda","family":"Micruropodidae","genus":"Gmelinoides","species":"Gmelinoides
        fasciatus","kingdomKey":1,"phylumKey":54,"classKey":229,"orderKey":1231,"familyKey":5864401,"genusKey":4315726,"speciesKey":8918476,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4315726,"parent":"Gmelinoides","basionymKey":5741631,"basionym":"Brandtia
        fasciata Stebbing, 1899","scientificName":"Gmelinoides fasciatus (Stebbing,
        1899)","canonicalName":"Gmelinoides fasciatus","authorship":"(Stebbing, 1899)
        ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Dybowsky,
        B. N. (1874). Beiträge zur näheren Kenntniss der in dem Baikal-See vorkommenden
        niederen Krebse aus der Gruppe der Gammariden. Horae Societatis Entomologicae
        Rossicae, 10, Beiheft, 1-188, 14: pl. https://doi.org/10.5962/bhl.title.9945","numDescendants":9,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:51:00.957+00:00","issues":[],"class":"Malacostraca"}'
  recorded_at: 2026-04-23 13:49:49
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/3034825?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":3034825,"nubKey":3034825,"nameKey":5142245,"taxonID":"gbif:3034825","kingdom":"Plantae","phylum":"Tracheophyta","order":"Apiales","family":"Apiaceae","genus":"Heracleum","species":"Heracleum
        mantegazzianum","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1351,"familyKey":6720,"genusKey":3034824,"speciesKey":3034825,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3034824,"parent":"Heracleum","scientificName":"Heracleum
        mantegazzianum Sommier & Levier","canonicalName":"Heracleum mantegazzianum","vernacularName":"Giant
        Hogweed","authorship":"Sommier & Levier","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Sommier,
        & Levier. (1895). In: Nuovo Gior. Bot. Ital. Nov. Ser. 2: 79.","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:11:32.716+00:00","issues":[],"class":"Magnoliopsida"}'
  recorded_at: 2026-04-23 13:49:49
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/6166945?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":6166945,"nubKey":6166945,"nameKey":16748642,"taxonID":"gbif:6166945","sourceTaxonKey":172900899,"kingdom":"Animalia","phylum":"Chordata","order":"Cypriniformes","family":"Cyprinidae","genus":"Carassius","species":"Carassius
        gibelio","kingdomKey":1,"phylumKey":44,"orderKey":1153,"familyKey":7336,"genusKey":7396773,"speciesKey":2366634,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":7396773,"parent":"Carassius","acceptedKey":2366634,"accepted":"Carassius
        gibelio (Bloch, 1782)","basionymKey":2366639,"basionym":"Cyprinus gibelio
        Bloch, 1782","scientificName":"Carassius auratus gibelio (Bloch, 1782)","canonicalName":"Carassius
        auratus gibelio","vernacularName":"Goldfish","authorship":"(Bloch, 1782) ","nameType":"SCIENTIFIC","rank":"SUBSPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:20:53.511+00:00","issues":[]}'
  recorded_at: 2026-04-23 13:49:49
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2220312?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2220312,"nubKey":2220312,"nameKey":16966327,"taxonID":"gbif:2220312","kingdom":"Animalia","phylum":"Arthropoda","order":"Mysida","family":"Mysidae","genus":"Hemimysis","species":"Hemimysis
        anomala","kingdomKey":1,"phylumKey":54,"classKey":229,"orderKey":841,"familyKey":5404,"genusKey":2220304,"speciesKey":2220312,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2220304,"parent":"Hemimysis","basionymKey":4417537,"basionym":"Mysis
        anomala Sars, 1907","scientificName":"Hemimysis anomala G.O.Sars, 1907","canonicalName":"Hemimysis
        anomala","vernacularName":"bloody-red shrimp","authorship":"G.O.Sars, 1907","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Sars,
        G.O. (1907). Mysidae. <em>Trudy Kaspiiskoi Ekspeditsii.</em> 1: 243-313.","numDescendants":1,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:51:33.925+00:00","issues":[],"class":"Malacostraca"}'
  recorded_at: 2026-04-23 13:49:49
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/3202936?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":3202936,"nubKey":3202936,"nameKey":806823,"taxonID":"gbif:3202936","sourceTaxonKey":172302814,"kingdom":"Chromista","phylum":"Oomycota","order":"Saprolegniales","family":"Leptolegniaceae","genus":"Aphanomyces","species":"Aphanomyces
        astaci","kingdomKey":4,"phylumKey":32,"classKey":8179345,"orderKey":1031,"familyKey":4788,"genusKey":3202934,"speciesKey":3202936,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3202934,"parent":"Aphanomyces","scientificName":"Aphanomyces
        astaci Schikora","canonicalName":"Aphanomyces astaci","authorship":"Schikora","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Schikora.
        In: Fischerei Zeitung 9: 529. (1906).","numDescendants":21,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:54:39.984+00:00","issues":[],"class":"Peronosporea"}'
  recorded_at: 2026-04-23 13:49:50
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2704211?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2704211,"nubKey":2704211,"nameKey":8951814,"taxonID":"gbif:2704211","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        chaixii","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":2704211,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2704173,"parent":"Poa","scientificName":"Poa
        chaixii Vill.","canonicalName":"Poa chaixii","vernacularName":"Broad-leaved
        Meadow-grass","authorship":"Vill.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Fl.
        Delphinalis: 7 (1786)","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:15:20.870+00:00","issues":[],"class":"Liliopsida"}'
  recorded_at: 2026-04-23 13:49:52
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/160926690/distributions?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"taxonKey":160926690,"locationId":"Finland","country":"FI","status":"PRESENT","establishmentMeans":"INTRODUCED"}]}'
  recorded_at: 2026-04-23 13:50:00
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/160926690/verbatim
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"key":160926690,"extensions":{"http://rs.gbif.org/terms/1.0/Distribution":[{"http://rs.tdwg.org/dwc/terms/countryCode":"FI","http://rs.tdwg.org/dwc/terms/occurrenceStatus":"Present","http://rs.tdwg.org/dwc/terms/establishmentMeans":"Alien","http://rs.tdwg.org/dwc/terms/locationID":"Finland"}],"http://rs.gbif.org/terms/1.0/SpeciesProfile":[{"http://rs.tdwg.org/dwc/terms/habitat":"Freshwater|Brackish"}]},"lastCrawled":"2026-03-04T05:09:24.259+00:00","http://rs.tdwg.org/dwc/terms/kingdom":"Animalia","http://rs.tdwg.org/dwc/terms/class":"Malacostraca","http://rs.tdwg.org/dwc/terms/taxonID":"105053","http://rs.tdwg.org/dwc/terms/family":"Micruropodidae","http://rs.tdwg.org/dwc/terms/order":"Amphipoda","http://rs.tdwg.org/dwc/terms/taxonomicStatus":"DOUBTFUL","http://rs.tdwg.org/dwc/terms/taxonRank":"SPECIES","http://rs.tdwg.org/dwc/terms/scientificName":"Gmelinoides
        fasciatus Stebbing, 1899","http://rs.tdwg.org/dwc/terms/phylum":"Arthropoda"}'
  recorded_at: 2026-04-23 13:50:09
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/163433657/verbatim
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"key":163433657,"extensions":{"http://rs.gbif.org/terms/1.0/Distribution":[{"http://rs.tdwg.org/dwc/terms/countryCode":"FI","http://rs.tdwg.org/dwc/terms/occurrenceStatus":"Present","http://rs.tdwg.org/dwc/terms/establishmentMeans":"Alien","http://rs.tdwg.org/dwc/terms/locationID":"Finland"}],"http://rs.gbif.org/terms/1.0/SpeciesProfile":[{"http://rs.tdwg.org/dwc/terms/habitat":"Terrestrial"}]},"lastCrawled":"2026-03-04T05:09:24.259+00:00","http://rs.tdwg.org/dwc/terms/kingdom":"Plantae","http://rs.tdwg.org/dwc/terms/class":"Pinopsida","http://rs.tdwg.org/dwc/terms/taxonID":"105106","http://rs.tdwg.org/dwc/terms/family":"Cupressaceae","http://rs.tdwg.org/dwc/terms/order":"Pinales","http://rs.tdwg.org/dwc/terms/taxonomicStatus":"ACCEPTED","http://rs.tdwg.org/dwc/terms/taxonRank":"SPECIES","http://rs.tdwg.org/dwc/terms/scientificName":"Thuja
        plicata Donn ex D.Don","http://rs.tdwg.org/dwc/terms/phylum":"Tracheophyta"}'
  recorded_at: 2026-04-23 13:50:19
recorded_with: VCR-vcr/2.1.0
