http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species?offset=0&limit=99999&datasetKey=e082b10e-476f-43c1-aa61-f8d92f33029a
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1000,"endOfRecords":true,"results":[{"key":157062928,"nubKey":4561827,"nameKey":2667773,"taxonID":"alien-mollusca-checklist:taxon:353c0266dc7029202c18efb638310977","kingdom":"Animalia","phylum":"Mollusca","order":"Architaenioglossa","family":"Megalostomatidae","genus":"Cochlostoma","species":"Cochlostoma
        septemspirale","kingdomKey":315332117,"phylumKey":315332118,"orderKey":315332119,"familyKey":315332120,"genusKey":315332121,"speciesKey":157062928,"datasetKey":"e082b10e-476f-43c1-aa61-f8d92f33029a","parentKey":315332121,"parent":"Cochlostoma","scientificName":"Cochlostoma
        septemspirale (Razoumowsky, 1789)","canonicalName":"Cochlostoma septemspirale","authorship":"(Razoumowsky,
        1789) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-03T10:15:09.848+00:00","lastInterpreted":"2026-03-03T10:26:13.513+00:00","issues":["VERNACULAR_NAME_INVALID"]},{"key":157062937,"nubKey":7505521,"nameKey":11968106,"taxonID":"alien-mollusca-checklist:taxon:691d816e96b0f17eb16385bf9ecf03ad","kingdom":"Animalia","phylum":"Mollusca","order":"Stylommatophora","family":"Enidae","genus":"Zebrina","species":"Zebrina
        detrita","kingdomKey":315332117,"phylumKey":315332118,"orderKey":315332122,"familyKey":315332143,"genusKey":315332144,"speciesKey":157062937,"datasetKey":"e082b10e-476f-43c1-aa61-f8d92f33029a","parentKey":3153321[...]
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/4561827?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":4561827,"nubKey":4561827,"nameKey":2667773,"taxonID":"gbif:4561827","sourceTaxonKey":172419160,"kingdom":"Animalia","phylum":"Mollusca","order":"Architaenioglossa","family":"Cochlostomatidae","genus":"Cochlostoma","species":"Cochlostoma
        septemspirale","kingdomKey":1,"phylumKey":52,"classKey":225,"orderKey":455,"familyKey":3243891,"genusKey":4304914,"speciesKey":4561827,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4304914,"parent":"Cochlostoma","basionymKey":8768534,"basionym":"Helix
        septemspirale Razoumowsky, 1789","scientificName":"Cochlostoma septemspirale
        (Razoumowsky, 1789)","canonicalName":"Cochlostoma septemspirale","vernacularName":"seven-whorl
        snail","authorship":"(Razoumowsky, 1789) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"https://www.marinespecies.org/aphia.php?p=taxdetails&id=934834","numDescendants":8,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:15:56.818+00:00","issues":[],"class":"Gastropoda"}'
  recorded_at: 2026-04-23 13:49:01
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/2296797?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":2296797,"nubKey":2296797,"nameKey":1943988,"taxonID":"gbif:2296797","sourceTaxonKey":172535147,"kingdom":"Animalia","phylum":"Mollusca","order":"Stylommatophora","family":"Geomitridae","genus":"Xeroplexa","species":"Xeroplexa
        intersecta","kingdomKey":1,"phylumKey":52,"classKey":225,"orderKey":1456,"familyKey":9599984,"genusKey":4618058,"speciesKey":9890104,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4618058,"parent":"Xeroplexa","acceptedKey":9890104,"accepted":"Xeroplexa
        intersecta (Poiret, 1801)","basionymKey":4564621,"basionym":"Helix intersecta
        Poiret, 1801","scientificName":"Candidula intersecta (Poiret, 1801)","canonicalName":"Candidula
        intersecta","vernacularName":"Wrinkled Snail","authorship":"(Poiret, 1801)
        ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:15:48.296+00:00","issues":[],"class":"Gastropoda"}'
  recorded_at: 2026-04-23 13:49:02
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/8014163?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":8014163,"nubKey":8014163,"nameKey":19470303,"taxonID":"gbif:8014163","sourceTaxonKey":172529549,"kingdom":"Animalia","phylum":"Mollusca","order":"Stylommatophora","family":"Limacidae","genus":"Ambigolimax","species":"Ambigolimax
        valentianus","kingdomKey":1,"phylumKey":52,"classKey":225,"orderKey":1456,"familyKey":6537,"genusKey":4584368,"speciesKey":8014163,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4584368,"parent":"Ambigolimax","basionymKey":2295440,"basionym":"Limax
        valentianus A.Férussac, 1821","scientificName":"Ambigolimax valentianus (A.Férussac,
        1821)","canonicalName":"Ambigolimax valentianus","vernacularName":"Greenhouse
        Slug","authorship":"(A.Férussac, 1821) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Rowson,
        B., Anderson, R., Turner, J. A., & Symondson, W. O. C. (2014). The slugs of
        Britain and Ireland: undetected and undescribed species iIncrease a well-studied,
        economically important fauna by more than 20%. PLoS ONE 9(3): E91907. doi:10.1371/journal.pone.0091907.
        https://www.molluscabase.org/aphia.php?p=sourcedetails&id=303262","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:15:25.934+00:00","issues":["ORIGINAL_NAME_DERIVED"],"class":"Gastropoda"}'
  recorded_at: 2026-04-23 13:49:02
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/8045384?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":8045384,"nubKey":8045384,"nameKey":4827360,"taxonID":"gbif:8045384","sourceTaxonKey":172516915,"kingdom":"Animalia","phylum":"Mollusca","order":"Stylommatophora","family":"Chondrinidae","genus":"Granaria","species":"Granaria
        frumentum","kingdomKey":1,"phylumKey":52,"classKey":225,"orderKey":1456,"familyKey":3244092,"genusKey":3244093,"speciesKey":8045384,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3244093,"parent":"Granaria","basionymKey":9018834,"basionym":"Pupa
        frumentum Draparnaud, 1801","scientificName":"Granaria frumentum (Draparnaud,
        1801)","canonicalName":"Granaria frumentum","vernacularName":"an air-breathing
        land snail","authorship":"(Draparnaud, 1801) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"https://www.marinespecies.org/aphia.php?p=taxdetails&id=1003152","numDescendants":11,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:15:29.871+00:00","issues":[],"class":"Gastropoda"}'
  recorded_at: 2026-04-23 13:49:03
recorded_with: VCR-vcr/2.1.0
