http_interactions:
- request:
    method: GET
    uri: https://api.gbif.org/v1/species?offset=0&limit=99999&datasetKey=016c16c3-d907-4c88-97dd-97ad62c8130e
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"offset":0,"limit":1000,"endOfRecords":true,"results":[{"key":148674352,"nubKey":1589999,"nameKey":11344225,"taxonID":"20012","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Sphaeroceridae","species":"Trachyopella
        straminea","kingdomKey":315787866,"phylumKey":315787867,"classKey":315787868,"orderKey":315787869,"familyKey":315787870,"speciesKey":148674352,"datasetKey":"016c16c3-d907-4c88-97dd-97ad62c8130e","parentKey":315787870,"parent":"Sphaeroceridae","scientificName":"Trachyopella
        straminea Rohacek & Marshall, 1985","canonicalName":"Trachyopella straminea","authorship":"Rohacek
        & Marshall, 1985","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-04T06:12:26.765+00:00","lastInterpreted":"2026-03-04T06:51:11.190+00:00","issues":[],"class":"Insecta"},{"key":148674355,"nubKey":8411684,"nameKey":19101036,"taxonID":"20009","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Cerambycidae","species":"Monochamus
        sutor","kingdomKey":315787866,"phylumKey":315787867,"classKey":315787868,"orderKey":315787871,"familyKey":315787874,"speciesKey":148674355,"datasetKey":"016c16c3-d907-4c88-97dd-97ad62c8130e","parentKey":315787874,"parent":"Cerambycidae","scientificName":"Monochamus
        sutor (LinnÃ©, 1758)","canonicalName":"Monochamus sutor","authorship":"","nameType":"DOUBTFUL","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-04T06:12:26.765+00:00","lastInterpreted":"2026-03-04T06:51:11.207+00:00","issues":["PARTIALLY_PARSABLE"],"class":"Insecta"},{"key":148674358,"nubKey":4465638,"nameKey":4261891,"taxonID":"20006","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Curculionidae","kingdomKey":315787866,"phylumKey":315787867,"classKey":315787868,"orderKey":315787871,"familyKey":315787872,"datasetKey":"016c16c3-d907-4c88-97dd-97ad62c8130e","parentKey":315787872,"parent":"Curculionidae","acceptedKey":315787873,"accepted":"Pentarthrum
        confine Broun, 1881","scientificName":"Euophryum confine (Broun, 1880)","canonicalName":"Euophryum
        confine","authorship":"(Broun, 1880) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"numDescendants":0,"lastCrawled":"2026-03-04T06:12:26.765+00:00","lastInterpreted":"2026-03-04T06:51:11.201+00:00","issues":[],"class":"Insecta"},{"key":148674360,"nubKey":1047536,"nameKey":6193681,"taxonID":"20008","king[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/1589999?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":1589999,"nubKey":1589999,"nameKey":50940309,"taxonID":"gbif:1589999","sourceTaxonKey":182798526,"kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Sphaeroceridae","genus":"Trachyopella","species":"Trachyopella
        straminea","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":6924,"genusKey":1589968,"speciesKey":1589999,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":1589968,"parent":"Trachyopella","scientificName":"Trachyopella
        straminea Roháček & Marshall, 1985","canonicalName":"Trachyopella straminea","authorship":"Roháček
        & Marshall, 1985","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:33:51.516+00:00","issues":[],"class":"Insecta"}'
  recorded_at: 2026-04-23 13:49:00
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/8411684?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":8411684,"nubKey":8411684,"nameKey":7145127,"taxonID":"gbif:8411684","sourceTaxonKey":174260561,"kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Cerambycidae","genus":"Monochamus","species":"Monochamus
        sutor","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":5602,"genusKey":7372826,"speciesKey":8411684,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":7372826,"parent":"Monochamus","basionymKey":11103196,"basionym":"Cerambyx
        sutor Linnaeus, 1761","scientificName":"Monochamus sutor (Linnaeus, 1758)","canonicalName":"Monochamus
        sutor","vernacularName":"Pine Sawyer","authorship":"(Linnaeus, 1758) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":1,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:39:35.080+00:00","issues":[],"class":"Insecta"}'
  recorded_at: 2026-04-23 13:49:00
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/3204008?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":3204008,"nubKey":3204008,"nameKey":17151677,"taxonID":"gbif:3204008","sourceTaxonKey":172304303,"kingdom":"Chromista","phylum":"Oomycota","order":"Peronosporales","family":"Peronosporaceae","genus":"Pseudoperonospora","species":"Pseudoperonospora
        cubensis","kingdomKey":4,"phylumKey":32,"classKey":8179345,"orderKey":1259,"familyKey":4785,"genusKey":3203994,"speciesKey":3204007,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3203994,"parent":"Pseudoperonospora","acceptedKey":3204007,"accepted":"Pseudoperonospora
        cubensis (Berk. & M.A.Curtis) Rostovzev","basionymKey":3204013,"basionym":"Peronoplasmopara
        humuli Miyabe & Takah.","scientificName":"Pseudoperonospora humuli (Miyabe
        & Takah.) G.W.Wilson","canonicalName":"Pseudoperonospora humuli","authorship":"(Miyabe
        & Takah.) G.W.Wilson","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","publishedIn":"G.W.
        Wilson. In: Mycologia 6(4): 194. (1914).","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:54:46.243+00:00","issues":["ORIGINAL_NAME_DERIVED"],"class":"Peronosporea"}'
  recorded_at: 2026-04-23 13:49:00
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/3204007?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":3204007,"nubKey":3204007,"nameKey":9406666,"taxonID":"gbif:3204007","sourceTaxonKey":172304291,"kingdom":"Chromista","phylum":"Oomycota","order":"Peronosporales","family":"Peronosporaceae","genus":"Pseudoperonospora","species":"Pseudoperonospora
        cubensis","kingdomKey":4,"phylumKey":32,"classKey":8179345,"orderKey":1259,"familyKey":4785,"genusKey":3203994,"speciesKey":3204007,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3203994,"parent":"Pseudoperonospora","basionymKey":3204010,"basionym":"Peronospora
        cubensis Berk. & M.A.Curtis","scientificName":"Pseudoperonospora cubensis
        (Berk. & M.A.Curtis) Rostovzev","canonicalName":"Pseudoperonospora cubensis","vernacularName":"Cucurbit
        Downy Mildew","authorship":"(Berk. & M.A.Curtis) Rostovzev","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Rostovzev.
        In: Annals Inst. Agron. Moscow 92: 425. (1903).","numDescendants":3,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:54:46.211+00:00","issues":[],"class":"Peronosporea"}'
  recorded_at: 2026-04-23 13:49:01
[...]
- request:
    method: GET
    uri: https://api.gbif.org/v1/species/3173338?offset=0&limit=100
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      string: '{"key":3173338,"nubKey":3173338,"nameKey":1697462,"taxonID":"gbif:3173338","kingdom":"Plantae","phylum":"Tracheophyta","order":"Lamiales","family":"Scrophulariaceae","genus":"Buddleja","species":"Buddleja
        davidii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":408,"familyKey":2390,"genusKey":3173330,"speciesKey":3173338,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3173330,"parent":"Buddleja","scientificName":"Buddleja
        davidii Franch.","canonicalName":"Buddleja davidii","vernacularName":"Butterfly-bush","authorship":"Franch.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Franch.
        (1887). In: Nouv. Arch. Mus. Hist. Nat., Ser. 2, 10: 65.","numDescendants":1,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:02:51.966+00:00","issues":[],"class":"Magnoliopsida"}'
  recorded_at: 2026-04-23 13:49:01
recorded_with: VCR-vcr/2.1.0
